@import "../../sass/colors.scss";

.about-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  @media screen and(max-width:1080px) {
    align-items: center;
    flex-direction: column;
  }

  .content-about-info {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(max-width:1080px) {
      width: 90%;
    }

    p {
      font-weight: bold;
      margin-top: 0.5rem;
      margin-bottom: 0.2rem;
      color: $laika;
    }

    .social-media {
      opacity: 70%;
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;
      .icon {
        margin: 0.2rem;
        transform: scale(1.5);
      }
    }
  }

  .action-about {
    width: calc(100% / 5);
    font-weight: bolder;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    @media screen and(max-width:1080px) {
      display: none;
    }
    h2 {
      font-size: 1rem;
      color: $laika;
      font-weight: 900;
      text-transform: uppercase;
    }

    p {
      font-size: 0.7rem;
      color: $laika;
    }

    .action-go {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        font-size: 0.8rem;
        margin: 0.3rem;
      }

      .subscribe-form {
        .input-send {
          margin-top: 0.5rem;
          border-radius: 0.5rem;
          border: solid $laika 2px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            background-color: $laika;
            color: white;
          }
        }
        .check-send {
          margin-top: 0.5rem;
          display: flex;
          font-style: oblique;
        }
      }
    }
  }

  .action-about-movil {
    margin-top: 2rem;
    display: none;
    @media screen and(max-width:1080px) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    h2 {
      font-size: 1rem;
      color: $laika;
      font-weight: 900;
      text-transform: uppercase;
    }

    p {
      font-size: 0.7rem;
      color: $laika;
    }

    .action-go {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        font-size: 0.8rem;
        margin: 0.3rem;
      }

      .subscribe-form {
        .input-send {
          margin-top: 0.5rem;
          border-radius: 0.5rem;
          border: solid $laika 2px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            background-color: $laika;
            color: white;
          }
        }
        .check-send {
          margin-top: 0.5rem;
          display: flex;
          font-style: oblique;
        }
      }
    }
  }
}
