.header {
  width: 100%;
  min-height: 4rem;
  background-color: #603e85;
  padding-top: 1px;
  padding-bottom: 0.5rem;
}

.header .local-inf {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8rem;
}

.header .local-inf .resum-inf {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .local-inf .resum-inf .item-rsm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-right: solid white 1px;
  padding-right: 8px;
  margin-left: 1rem;
}

.header .local-inf .resum-inf .item-rsm p {
  margin-left: 5px;
  font-weight: bold;
  font-size: 0.8rem;
}

.header .local-inf .social-inf {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .local-inf .social-inf .social-items {
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .local-inf .social-inf .social-items p {
  margin-left: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
}

.header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .options .btn-Wout {
  background-color: transparent;
  color: white;
  text-transform: none;
  font-weight: bold;
  font-size: 0.8rem;
}

.header .options .create-acount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .options .create-acount .btn-Wout-acc {
  background-color: rgba(0, 0, 0, 0.336);
  color: white;
  text-transform: none;
  font-weight: bold;
  font-size: 0.8rem;
}

.header .options .create-acount .form-comp {
  position: absolute;
  width: 13rem;
  height: 8rem;
  bottom: -8rem;
  right: 0rem;
  background-color: white;
}

.header .options .btn-Wout-shop {
  background-color: transparent;
  color: white;
  width: 1rem;
  position: relative;
}

.header .options .btn-Wout-shop .num-prodc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 5px;
  right: -2px;
  position: absolute;
  background-color: #df0f41;
  padding: 1px;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 100%;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header nav .nav-bar-laika {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav .nav-bar-laika .search-p {
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #603e85;
}

.header nav .nav-bar-laika .search-p .search-box {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav .nav-bar-laika .search-p .search-box input {
  width: 100%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.486);
}

.header .add-adres {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.452);
  position: fixed;
  top: 0px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .add-adres .box-content {
  width: calc(25% - 2rem);
  height: 90vh;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .add-adres .close-area {
  width: calc((100% - (25% - 2rem)) / 2);
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */